<div class="hero">

</div>

<h1 class="text-center">Contact us If you want</h1>
<hr class="mx-5">

<div class="container">
    <div class="row">
        <div class="text mt-5">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, doloribus! Libero nam ullam quis sequi. Sit voluptate et vero quidem labore sint, quibusdam porro error corrupti nobis quam repellendus eos? <br> Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Aspernatur neque non asperiores vel harum maiores? Quo perspiciatis ipsa mollitia, vero illo libero deleniti, reprehenderit, nisi excepturi ea autem expedita debitis.</p>
        </div>

        <div class="my-5">
            <input type="text" class="form-control my-3" value="Name">
            <input type="email" class="form-control my-3" value="Email">
            <input type="text" class="form-control my-3" value="your massage">
            <input type="button" class="btn btn-dark my3" value="Send">
        </div>
    </div>
</div>