<div class="hero">

</div>

<h1 class="title">Speed Food to your Home</h1>
<hr>

<div class="container">
    <div class="img">
        <img src="/assets/img/home.jpg" alt="">
    </div>
    <div class="text">
        <h2 class="title">Come on eat</h2>
        <p class="title">Come on eat is a restaurant that offers all kinds of fast food in a distinctive way and has an express delivery service. If you are hungry, do not hesitate. Come on, order from <a routerLink="/products">here</a></p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor possimus ipsam dicta cum laborum error harum hic eveniet sed, obcaecati ipsum ipsa vero facere voluptate odit est ab aliquid perferendis. <br> Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Consequatur dolor tempore fugiat ad delectus quisquam debitis itaque assumenda cupiditate, architecto officiis earum ipsam suscipit nostrum ipsa? Tenetur molestiae est pariatur? <br> Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Esse a magni voluptatum delectus quos voluptatibus ipsa? Ratione dolor quia animi, voluptates tempore dignissimos. Blanditiis reprehenderit cupiditate, eius eaque reiciendis et!</p>
    </div>
    <div class="text2">
        <h2 class="title">Burger</h2>
        <p class="title">If you are hungry and want a burger, do not worry. We have all kinds of distinct burgers, in addition to our secret recipe. You can also order a burger meal with fries, sauce and the drink you want at reasonable prices.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sint nemo qui eligendi, maiores at iste sed exercitationem eos porro, sequi quos debitis unde consequatur officia repellat eveniet labore! Nisi? <br> Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Rerum aut, laborum qui praesentium excepturi cum dolor doloremque facere corporis non nostrum nesciunt voluptatibus, nihil sed harum. Officia suscipit eaque officiis! <br> Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quia, nobis adipisci? Recusandae consequatur necessitatibus a delectus, assumenda perferendis asperiores possimus esse ad sint aliquam aspernatur nihil laborum eum nulla nesciunt?</p>
    </div>

    <div class="img2">
        <img src="/assets/img/home2.jpg" alt="">
    </div>
    <div class="img3">
        <img src="/assets/img/home3.jpg" alt="">
    </div>
    <div class="text3">
        <h2 class="title">Fried Chicken</h2>
        <p class="title">If you're hungry and want fried chicken, don't worry. We have all kinds of premium fried chicken plus our secret recipe. You can also order a fried chicken meal with french fries, sauce and the drink you want at reasonable prices.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum rem quas fugiat officiis distinctio exercitationem ad aut commodi id consequatur, praesentium possimus saepe doloremque voluptas dolores harum similique iure architecto? <br> Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Iste, placeat vero. Doloribus architecto consequatur tenetur dolore possimus vitae ullam, voluptas necessitatibus tempora veritatis quod officiis non in alias officia facilis?</p>
    </div>

    <div class="text4">
        <h2 class="title">Pizza</h2>
        <p class="title">If you are hungry and want pizza, don't worry. We have all kinds of premium pizzas plus our secret recipe. You can also order pizza with french fries, sauce and the drink you want at reasonable prices.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vitae consectetur magnam magni est obcaecati corrupti, animi beatae architecto quam, aspernatur maxime ratione labore? Nostrum repudiandae harum aliquid. Odio, animi. <br> Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Possimus, suscipit odit. Placeat magnam nihil maxime deserunt, temporibus optio delectus, architecto repudiandae rem adipisci odit sit eligendi molestias, cumque repellendus ratione! <br> Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis debitis expedita id aspernatur, veritatis nesciunt alias, repellendus molestiae ipsam obcaecati corporis laboriosam a rem totam sapiente eius. Sunt, laboriosam molestias.</p>

    </div>

    <div class="img4">
        <img src="/assets/img/home4.jpg" alt="">
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.527921106998!2d16.361990924039535!3d48.196446547061505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da8192fde39d7%3A0xe543f0731e2b5529!2sCodeFactory!5e0!3m2!1sar!2sat!4v1686186742163!5m2!1sar!2sat"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="text5">
        <h2 class="title">This is our Address</h2>
        <p class="title">If you want to visit our restaurant, this is the address we are waiting for you</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, quo delectus nobis perferendis at quasi odit esse ipsam! Ea quaerat quae repellendus nihil officiis sint. Tempora asperiores amet vitae esse?<br>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Blanditiis voluptate inventore modi. Asperiores, deserunt quas veritatis, eaque eligendi nesciunt alias vel, natus nemo amet porro cupiditate similique ipsa eos eum?</p>

    </div>

</div>